body {
    background: url(fondo.png);
}
#wsp {
    margin-left: 0px;
}

.wsp {
    margin-left: 150px;
}

#fb {
    margin-left: 50px;
}

.alex {
    width: 150px;
    height: 200px;
    margin-left: 150px;
}

.brandon {
    width: 150px;
    height: 200px;
    margin-left: 10px;
}

.claudio {
    width: 150px;
    height: 200px;
    margin-left: 10px;
}

.felipe {
    width: 150px;
    height: 200px;
    margin-left: 10px;
}

.nacho {
    width: 150px;
    height: 200px;
    margin-left: 10px;
}

.alex1 {
    margin-left: 150px;
}

.brandon1 {
    margin-left: 310px;
    margin-top: -20px;
}

.claudio1 {
    margin-left: 470px;
    margin-top: -20px;
}

.felipe1 {
    margin-left: 630px;
    margin-top: -20px;
}

.nacho1 {
    margin-left: 790px;
    margin-top: -20px;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-boz;
}

.social {
    position: fixed;
    left: 0;
    top:200px;
    z-index:2000;
}

.social ul{
    list-style:none;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding:10px 15px;
    text-decoration: none;
    -webkit-transition:all 800ms ease;
    -o-transition:all 800ms ease;
    transition:all 800ms ease;
}

.social ul li .icon-headphones {background:red;}
.social ul li .icon-game-controller {background:blue;}
.social ul li .icon-mouse {background:yellow;}
.social ul li .icon-text-document-inverted {background:brown;}
.social ul li .icon-keyboard {background:teal;}
.social ul li .icon-home {background:lime;}
.social ul li .icon-phone {background:lime;}

.social ul li a:hover {
    padding: 10px 30px;
    background: black;
    
}