@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3a1i70');
  src:  url('fonts/icomoon.eot?3a1i70#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3a1i70') format('truetype'),
    url('fonts/icomoon.woff?3a1i70') format('woff'),
    url('fonts/icomoon.svg?3a1i70#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-game-controller:before {
  content: "\e900";
}
.icon-text-document-inverted:before {
  content: "\e901";
}
.icon-mouse:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e903";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e942";
}
.icon-keyboard:before {
  content: "\e955";
}

#boton {
    background: #31384A;
    color: #fff;
    height: 40px;
    width: 300px;
    text-align: center;
    float: right;
}

.galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria li {
    margin: 5px;
}

.galeria img {
    width: 700px;
    height: 900px;
}

.galeria1 img {
    width: 24%;
    height: 24%;
}

.modal {
    display: none;
    
}

.modal:target {
    display: block;
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal h3 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 15px;
}

.imagen {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen a {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px
}

.imagen a:nth-child(2) {
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.imagen img{
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 7px solid #fff;
    box-sizing: border-box;
}

.cerrar {
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}

#hola {
  text-align: center;
}