body {
    background-image: url(fondo.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}
* {
    margin: 0;
    padding: 0;
    
}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-boz;
}

.social {
    position: fixed;
    left: 0;
    top:200px;
    z-index:2000;
}

.social ul{
    list-style:none;
}

.social ul li a {
    display: inline-block;
    color: #fff;
    background: #000;
    padding:10px 15px;
    text-decoration: none;
    -webkit-transition:all 800ms ease;
    -o-transition:all 800ms ease;
    transition:all 800ms ease; 500ms ease
}

.social ul li .icon-headphones {background:red;}
.social ul li .icon-game-controller {background:blue;}
.social ul li .icon-mouse {background:yellow;}
.social ul li .icon-text-document-inverted {background:brown;}
.social ul li .icon-keyboard {background:teal;}
.social ul li .icon-home {background:lime;}
.social ul li .icon-phone {background:lime;}

.social ul li a:hover {
    padding: 10px 30px;
    background: black;
    
}

.galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria li {
    margin: 5px;
}

.galeria img {
    width: 700px;
    height: 700px;
}

.galeria1 img {
    width: 24%;
    height: 24%;
}

.modal {
    display: none;
    
}

.modal:target {
    display: block;
    position: fixed;
    background: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal h3 {
    color: #fff;
    font-size: 30px;
    text-align: center;
    margin: 15px;
}

.imagen {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen a {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px
}

.imagen a:nth-child(2) {
    margin: 0;
    height: 100%;
    flex-shrink: 2;
}

.imagen img{
    width: 500px;
    height: 100%;
    max-width: 100%;
    border: 7px solid #fff;
    box-sizing: border-box;
}

.cerrar {
    display: block;
    background: #fff;
    width: 25px;
    height: 25px;
    margin: auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}

.img10 {
    width: 500px;
    height: 500px;
}

#boton {
    background: #31384A;
    color: #fff;
    height: 40px;
    width: 300px;
    text-align: center;
    float: right;
}