@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3a1i70');
  src:  url('fonts/icomoon.eot?3a1i70#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3a1i70') format('truetype'),
    url('fonts/icomoon.woff?3a1i70') format('woff'),
    url('fonts/icomoon.svg?3a1i70#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-game-controller:before {
  content: "\e900";
}
.icon-text-document-inverted:before {
  content: "\e901";
}
.icon-mouse:before {
  content: "\e902";
}
.icon-home:before {
  content: "\e903";
}
.icon-headphones:before {
  content: "\e910";
}
.icon-phone:before {
  content: "\e942";
}
.icon-keyboard:before {
  content: "\e955";
}
